<div class="container">
  <form [formGroup]="categoryForm"
        (ngSubmit)="onSubmit()">
    <div class="global">

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput
                 type="text"
                 formControlName="name">
        </mat-form-field>
        <div *ngIf="categoryForm.get('name')?.touched && categoryForm.get('name')?.dirty && categoryForm.get('name')?.invalid"
             style="color: red">Name is required
        </div>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Category Type</mat-label>
          <input matInput
                 type="text"
                 formControlName="categoryType">
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button
                color="accent"
                type="submit"
                [disabled]="categoryForm.invalid || isSubmitted">Submit
        </button>
      </div>

    </div>
  </form>
</div>
