<div class="container">
  <form [formGroup]="categoryForm"
        (ngSubmit)="onSubmit()">
    <div class="global">

      <div class="form-field-wrapper">
        <mat-form-field appearance="fill"
                        subscriptSizing="dynamic">
          <mat-label>Name</mat-label>
          <input matInput
                 type="text"
                 formControlName="name">
        </mat-form-field>

        <mat-error *ngIf=" categoryForm.get('name')?.touched  && categoryForm.get('name')?.invalid">
          Name is required
        </mat-error>
      </div>

      <div class="form-field-wrapper">
        <mat-form-field appearance="fill"
                        subscriptSizing="dynamic">
          <mat-label>Category Type</mat-label>
          <input matInput
                 type="text"
                 formControlName="categoryType">
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button
                color="accent"
                type="submit"
                [disabled]="categoryForm.invalid || isSubmitted">Submit
        </button>
      </div>

    </div>
  </form>
</div>