<div class="under">
  <button mat-raised-button
          color="primary"
          routerLink="/">
    <mat-icon>keyboard_return</mat-icon>
    Back to shop
  </button>

  <h1 class="centered">
    We offer free shipping only this month!
  </h1>

  <div class="btn-valid">
    <button mat-raised-button
            color="accent">Proceed To Payment</button>
  </div>

</div>

<div class="global">
  <div>
    <div *ngFor="let cartItem of cartItems; let i = index">
      <mat-card class="cart-item-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{cartItem.item.name}}</mat-card-title>
            <mat-card-subtitle>{{cartItem.item.category.name}}</mat-card-subtitle>
            <mat-card-subtitle>Quantity: {{cartItem.quantity}}</mat-card-subtitle>
            <mat-card-subtitle>Unit Price: {{cartItem.item.price | currency: 'GBP'}}</mat-card-subtitle>
            <mat-card-subtitle>Total Price: {{cartItem.quantity * cartItem.item.price |
              currency:'GBP'}}</mat-card-subtitle>
            <img mat-card-md-image
                 [src]="cartItem.item.image"
                 [alt]="cartItem.item.name">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{cartItem.item.description}}
        </mat-card-content>
        <button mat-icon-button
                color="warn"
                (click)="removeItem(i, cartItem)">
          <mat-icon>delete</mat-icon>

        </button>
      </mat-card>
    </div>
  </div>

</div>
