.item-card {
  max-width: 400px;
  margin: 10px;
}

.item-header-image {
  background-image: url("../../../../assets/images/logo.png");
  background-size: cover;
}

.dropdown {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.global {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
