.container {
  display: flex;
  justify-content: center;
}

.form-field-wrapper {
  margin-bottom: 25px;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 212px;
}
